body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2D0148;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .header {
    width: 100%;
    padding: 10px 20px;
    background-color: #001B44;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo-img {
    height: 100px; 
    width: auto;
  }
  
  .config-container {
    background-color: #509EFF; 
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: left;
  }
  
  .config-container h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .config-item {
    margin: 15px 0;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #ffffff66;
  }
  
  .config-item:last-child {
    border: none;
  }
  
  .config-item:hover {
    background-color: #457ACE;
  }
  
  .toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .toggle-switch::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #509EFF;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .toggle-switch.active::before {
    transform: translateX(25px);
    background: #4CAF50; 
  }
  
