<!DOCTYPE html>
<html>
    <head>
        <title>Configurações do Usuário</title>
        <link rel="stylesheet" href="configUsuario.css">
    </head>
<body>
    <div class="container">
        <div class="logo_e_saida">
            <div class="logo"><img src="logo (1).jpg"></div>
            <button class="sair_pagina">&times;</button>
        </div>
        <div class="perfil"></div>
        <h2>Configurações do usuário</h2>
        
        <div class="campos_input">
            <label for="nome">Nome:</label>
            <input type="text" id="nome">
        </div>
        
        <div class="campos_input">
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone">
        </div>
        
        <div class="campos_input">
            <label for="medidas">Medidas do veículo:</label>
            <input type="text" id="medidas">
        </div>
        
        <div class="Alterar">
            <a href="#">Alterar email</a>
            <a href="#">Alterar senha</a>
        </div>
        
        <button class="salvar">Salvar alterações</button>
    </div>
</body>
</html>
