<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="logo">
    <img src="imagens/WhatsApp Image 2024-11-08 at 00.14.20.jpeg" alt="Spotfinder" class="logo">
  </div>

  <div class="top_retangulo">
    <div class="busca">
      <input type="text" placeholder="Aonde você quer parar?" class="campo_busca">
      <img src="imagens/2866321.png" alt="ícone de busca" class="icone_busca">
    </div>
  </div>

  <div class="mapa" id="google-map">


  </div>

</body>

<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaHbvAVMsSpuj5T-iJsxa1K6zZYJM_xqM&callback=initMap"></script>
<script src="script.js"></script>

</html>
