{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpotFinder Login</title>
  <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
  <div class="principal">
    <div class="fechar">✖</div>
    <div class="login">
      <div class="logo">
        <img src="{% static 'logo.jpg' %}" alt="SpotFinder Logo">
      </div>
      <h2>Entrar na conta</h2>
      
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>

      <div class="OR">
        <span>OU</span>
      </div>

      <div class="criar">
        <p>Primeira vez no site?</p>
        <button class="criaracc">
          <a href="{% url 'register' %}">Criar conta</a>
        </button>
      </div>
    </div>
  </div>
</body>
</html>
