{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpotFinder Sign Up</title>
  <link rel="stylesheet" href="{% static 'signin.css' %}">
</head>
<body>
  <div class="principal">
    <div class="fechar">✖</div>
    <div class="signup">
      <div class="logo">
        <img src="{% static 'logo.jpg' %}" alt="SpotFinder Logo">
      </div>
      <h2>Cadastro</h2>
      
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
      </form>
    </div>
  </div>
</body>
</html>
