<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpotFinder Login</title>
  <link rel="stylesheet" href="signin.css">
</head>
<body>
  <div class="principal">
    <div class="fechar">✖</div>
    <div class="login">
      <div class="logo">
        <img src="logo.jpg" alt="SpotFinder Logo">
      </div>
      <h2>Sign in with an registered account</h2>
      <form action="#">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" placeholder="Login">

        <label for="senha">Password</label>
        <input type="senha" id="senha" name="senha" placeholder="Senha">

        <div class="manterlog">
          <input type="checkbox" id="manterlog" name="manterlog">
          <label for="manter">Keep me signed in</label>
        </div>

        <button type="submit" class="signin">Sign In</button>
      </form>

      <div class="OR">
        <span>OR</span>
      </div>

      <div class="criar">
        <p>First time on the website?</p>
        <button class="criaracc">Create Account</button>
      </div>
    </div>
  </div>
</body>
</html>
